@model IEnumerable<Schronisko.Models.Shelter>

@{
    ViewData["Title"] = "Schronisko";
}

<h1>Schronisko</h1>

<p>
    <a asp-action="Create">Stwórz nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShelterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelterAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShelterId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ShelterId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ShelterId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
